#divContent{
      position: absolute;
      margin-left: 21%;
      width: 79%;
      height: 100%;
}

.divContentMain{
      position: absolute;
      margin: 0px auto;
      width: 100%;
      height: 100%;
      overflow-y: auto;
}

#divStatistics{
}

#divAbout{
      background-color: rgba(255,255,255, 0.7);

      padding: 50px;
      margin-top: 20px;

      width: 91%;
      height: 80%;

      overflow-y:auto;
}

p{
      text-align: justify;
      font-family: helvetica, arial;
}
