header{
      background-color: rgba(0,0,0,0.7);
      --background-image: url('./../../img/texture.png');
      background-size: 80%;
      position: absolute;
      float: left;
      width: 20%;
      height: 100%;

      -webkit-box-shadow: 5px 0px 20px -3px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 0px 20px -3px rgba(0,0,0,0.75);
      box-shadow: 5px 0px 20px -3px rgba(0,0,0,0.75);
}

#divLogo{
      width: 100%;
      height: 150px;
      padding: 10px;
}

#logo{
      float: left;
      height: 100px;
      cursor: pointer;
}

#nameLogo{
      position: fixed;
      float: left;
      width: 20%;
      padding-top: 30px;
      padding-left: 20px;
      font-family: helvetica, arial;
      text-align: center;
      color: Lavender;
      text-shadow: 2px 1px 5px rgba(0,0,0,0.75);
      cursor: pointer;
      color: rgb(200,200,200);
}

#menu ul{
      margin: 0px;
      padding: 0px;
}

.menuOption{
      list-style: none;
      text-align: left;
      font-family: helvetica, arial;
      font-weight: bold;
      cursor: pointer;
      padding: 10px;
      padding-left: 20px;
      margin-bottom: 3px;
      border-radius: 10px 200px 200px 10px;
      -webkit-border-radius: 10px 200px 200px 10px;
      border: 0px double #000000;
      color: rgb(255, 255, 255);
}
.menuOption:hover{
      --background-color: rgb(200,200,200);
      background-color: rgb(255,255,150);
      color: black;
      -webkit-box-shadow: 5px 0px 20px -3px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      width: 95%;
      transition: 1s;
}

@media (max-width: 1500px) {
      #nameLogo{
            width: 18%;
            text-align: left;
      }
}
