.listPostClass, .listImagePostClass{
      font-family: helvetica, arial;

      background-color: white;

      padding: 10px;

      float: left;

      cursor: pointer;

      -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.8);
      box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.8);
      transition: 2s;
}

.listPostClass{

      margin: 10px 5% 10px 5%;

      width: 90%;
      height: auto;
}

.listImagePostClass{
      margin: 10px 1% 10px 1%;

      height: 150px;
}

.listPostClass:hover .sectionPost{
      height: auto;
      cursor: pointer;
      transition: 2s;
}

.listPostClass:hover .h3Post{
      opacity: 0;
      transition: 1s;
}

.h1Post{
      margin: 10px 0px 10px 0px;
      text-align: left;
}

.pDatePubli{
      text-align: left;
      font-size: 11px;
      margin: 10px 0px 5px 0px;
}

.imgPost{
      height: 150px;
}

.sectionPost{
      height: 220px;
      overflow: hidden;
      text-align: justify;
      font-size: 15px;
      transition: 1s;
      padding: 10px;
}

.listImagePostClass .sectionPost{
      height: 140px;
}

.h3Post{
      background: rgb(255,255,150);
      margin: 0px -10px -10px -10px;
      padding: 10px;
      transition: 1s;
}

.listImagePostClass > *{
      display: none;
}

.listImagePostClass > .imgPost{
      display: block;
}

.listImagePostClass:hover{
      background: rgb(255,255,150);
      transition: 1s;
}
